<% content_for :stylesheet do %>
	<%= stylesheet_link_tag 'dashboards.css', media: "all", 'data-turbolinks-track' => true %>
<% end %> 

<div class='row'>
	<div class="col-xs-12">
		<h3 class="dashboard_title name_title"> Hello <%= current_user.first_name %> </h3>
	</div>
</div>

<% if current_user.user_level == 9 %>
<div class='row underline'>
	<div class="col-xs-12">
		<h3 class='inline name_title'>Manage Users</h3>
		<a href="/users/new" class="btn btn-success pull-right addnew-btn" role="button">Add New User</a>
	</div>
</div>
<% else %>
<div class='row'>
	<h3 class='inline name_title'>All Users</h3>
</div>
<% end %>

<div class="row">
	<div class="table_div">
		<table class='table-striped table table-bordered'>
			<tr>
				<th>User ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Sign Up Date</th>
				<th>User Level</th>
				<% if current_user.user_level == 9 %>
					<th>Actions</th>
				<% end %>
			</tr>
			<% @users.each do |user| %>
			<tr>
				<td> <%= user.id %></td>
				<td> <a href="/wall/<%= user.id %>"> <%= user.first_name %> <%= user.last_name %> </a> </td>
				<td> <%= user.email %> </td>
				<td> <%= user.created_at.to_formatted_s(:long) %> </td>
				<td> <% if user.user_level == 9 %> 
						admin
					 <% else %>
					 	normal
					 <% end %>
				</td>
				<% if current_user.user_level == 9 %>
					<td><a href="/users/<%=user.id%>/edit">edit</a>

					<!-- adamin cannot remove their own account -->
					<% if current_user.id != user.id %>
					 | <a href="/users/<%=user.id %>/" data-method='delete'>remove</a>
					<% end %>
					</td>
				<% end %>
			</tr>
			<% end %>
		</table>
	</div>
</div>