<h2>Own Profile</h2>

<%= render "layouts/signout" %>

<div class='row'>
	<h3>Edit user #<%= @user.id %></h3>
	<button><a href='/users/dashboard'>Return to Dashboard</a></button>

</div>

<div class='row'>
	<div class='col-md-6'>
		<h2>Edit Information</h2>
		<% if flash[:lend_errors] %>
			<% flash[:lend_errors].each do |error| %>
				<p><%= error %></p>
			<% end %>
		<% end %>
		<% if flash[:lend_notice] %>
			<%= flash[:lend_notice] %>
		<% end %>
		<form action="/users/<%=@user.id%>" method='post'>
			<input type='hidden' name="_method" value='patch'>
			<input type='hidden' name='self_edit' value='true'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<div class='form-group'>
				<label for='email'>Email</label>	
				<input type='email' class="form-control" name='email' value='<%= @user.email %>'>
			</div>	
			<div class='form-group'>
				<label for='first_name'>First Name</label>	
				<input type='text' class="form-control" name='first_name' value='<%= @user.first_name %>'>
			</div>
			<div class='form-group'>
				<label for='last_name'>Last Name</label>	
				<input type='text' class="form-control" name='last_name' value='<%= @user.last_name %>'>
			</div>
			<div class='text-right'>
				<input type='submit' value='Save' />
			</div>
		</form>
	</div>

	<div class='col-md-6'>
		<h2>Change Password</h2>
		<% if flash[:bor_errors] %>
			<% flash[:bor_errors].each do |error| %>
				<p><%= error %></p>
			<% end %>
		<% end %>
		<% if flash[:password_mess] %>
			<%= flash[:password_mess] %>
		<% end %>
		<form action='/users/<%=@user.id %>/' method='post'>
			<input type='hidden' name="_method" value='patch'>
			<input type='hidden' name="self_password" value='true'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<div class='form-group'>
				<label for='password'>Password - Must be at least 8 Characters</label>	
				<input type='text' class="form-control" name='password'>
			</div>
			<div class='form-group'>
				<label for='confirm'>Password Confirmation</label>
				<input type='text' class="form-control" name='confirm'>
			</div>
			<div class='text-right'>
				<input type='submit' value='Update Password' />
			</div>
		</form>
	</div>

	<div class='col-md-12'>
		<form action='/users/<%=@user.id %>/' method='post'>
			<input type='hidden' name="_method" value='patch'>
			<input type='hidden' name="self_description" value='true'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
 			<textarea name='description'> <%= @user.description %></textarea>
			<input type='submit' value='Save'>
		</form>
	</div>

</div>